@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; }

@media screen and (min-device-width: 1024px) {
  header {
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    z-index: 100; }
    header #block-main-menu-mobile {
      display: none; }
    header nav {
      width: 72.6%;
      height: 46px;
      float: right; }
      header nav ul {
        display: inline-block;
        list-style-type: none;
        height: 100%;
        margin: 0;
        padding: 0; }
        header nav ul #myracc {
          padding: 0.9em 2.7em; }
        header nav ul #miller {
          padding: 0.9em 1.1em; }
          header nav ul #miller a {
            letter-spacing: 0.185em; }
        header nav ul #row3 {
          padding: 0.9em 3.1em; }
        header nav ul #row4 {
          padding: 0.9em 0.2em; }
        header nav ul #row5 {
          padding: 0.9em 4.14em; }
        header nav ul li {
          padding: 0.9em 2.1em;
          margin: 0px;
          display: inline-block; }
          header nav ul li a {
            font-family: "Raleway", sans-serif;
            color: #fff;
            font-size: 0.75em;
            font-weight: 500;
            letter-spacing: 0.2em; }
          header nav ul li i {
            color: #fff;
            margin-left: -4.4em; }
  #logo {
    width: 27.4;
    height: 105px;
    display: inline-block;
    position: relative;
    float: left; }
    #logo #logo-image img {
      display: block;
      height: 85px;
      width: auto;
      margin: 9px 50px; }
  #mainMenu {
    width: 72.5%;
    left: 10.11%;
    display: inline-block;
    height: 60px;
    position: relative; }
    #mainMenu #main-menu-list {
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      margin: 0;
      padding: 0;
      padding-top: 6px;
      margin-left: -7px;
      color: #444a5a; }
      #mainMenu #main-menu-list li {
        padding-right: 8px;
        display: inline-block;
        font-size: 15px;
        line-height: 48px;
        letter-spacing: 1px; }
        #mainMenu #main-menu-list li a {
          padding: 1.5em 1.65em;
          height: 100%;
          color: #444a5a;
          text-decoration: none; }
        #mainMenu #main-menu-list li ul {
          display: none;
          float: none;
          width: 17em;
          margin: 0;
          margin-left: -3em;
          margin-top: 25px;
          z-index: 30; }
          #mainMenu #main-menu-list li ul li {
            width: 100%;
            background: white;
            padding: 5px;
            float: left;
            position: relative;
            z-index: 30;
            font-family: "Raleway", sans-serif;
            font-weight: 500;
            font-size: 0.8em;
            padding: 0.9em 2em;
            letter-spacing: 2px;
            line-height: 15px; }
          #mainMenu #main-menu-list li ul li:hover {
            background: #c0bfbf;
            font-weight: 600; }
      #mainMenu #main-menu-list #apply-menu {
        font-weight: 800;
        display: inline-block;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 1px; }
        #mainMenu #main-menu-list #apply-menu a {
          padding: 1.5em 1.65em;
          padding-right: 0;
          height: 100%; } }

@media screen and (max-device-width: 480px) {
  header {
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    z-index: 150;
    background: rgba(255, 255, 255, 0.5); }
    header #block-main-menu-mobile {
      float: right;
      width: 130px;
      height: 100%;
      padding-left: 0;
      background: rgba(255, 255, 255, 0.5);
      font-size: 30px; }
      header #block-main-menu-mobile #menu-mobile-container {
        padding-left: 24px;
        margin: auto; }
        header #block-main-menu-mobile #menu-mobile-container a {
          display: inline-block;
          font-weight: bold;
          color: black;
          padding: 16px; }
    header #mainMenu {
      display: none; }
    header nav {
      width: 100%;
      height: 7px;
      position: relative;
      z-index: 20; }
      header nav ul {
        display: none; }
    header #logo {
      width: 63.76812%;
      float: left;
      height: 65px; }
      header #logo #logo-image {
        max-width: 100%;
        float: left; }
        header #logo #logo-image img {
          display: block;
          margin: 10px auto;
          width: 150px;
          height: auto; } }

@media screen and (min-device-width: 1024px) {
  main {
    width: 100%; }
  .slider-container {
    width: 100%; }
  #slider-inside-text {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30em;
    margin-left: 11%;
    z-index: 20; }
    #slider-inside-text .slide-title {
      text-decoration: none;
      font-size: 45px;
      font-weight: 100;
      text-transform: uppercase;
      width: 10em;
      letter-spacing: -0.5px;
      line-height: 48px;
      z-index: 20;
      margin-bottom: 25px;
      font-family: "Raleway", sans-serif;
      color: white; }
    #slider-inside-text .slide-title:hover {
      color: #f23522; }
    #slider-inside-text p {
      color: white;
      font-family: "Raleway", sans-serif;
      width: 25em;
      font-size: 15px;
      line-height: 23px;
      font-weight: 400;
      z-index: 20;
      margin-left: -3px;
      margin-top: 29px; }
  .flex-control-nav {
    text-align: initial;
    margin-left: 10em; }
  .flex-control-paging {
    top: 680px;
    margin-left: 10em;
    z-index: 10; }
    .flex-control-paging li a {
      content: url(../res/img/NotActiveSlide.png);
      height: 2px;
      width: 52px;
      margin-left: 5px; }
    .flex-control-paging li .flex-active {
      content: url(../res/img/ActiveSlide.png);
      height: 2px;
      width: 52px; }
  .flex-direction-nav a {
    width: 60px;
    height: 60px; }
  .flex-direction-nav .flex-nav-prev a {
    margin-top: -120px; }
  .flex-direction-nav .flex-nav-prev a::before {
    content: url(../res/img/sliderback.png);
    padding-left: 10px; }
  .flex-direction-nav .flex-nav-next a {
    margin-top: -120px; }
  .flex-direction-nav .flex-nav-next a::before {
    content: url(../res/img/sliderforward.png);
    padding-right: 10px; } }

@media screen and (max-device-width: 480px) {
  #slider-inside-text {
    display: none;
    margin-left: 0;
    left: 8vw;
    margin-top: 24em; }
    #slider-inside-text .slide-title {
      text-decoration: none;
      font-size: 2.5em;
      letter-spacing: 0;
      font-weight: 100;
      text-transform: uppercase;
      line-height: 1.2;
      color: white;
      font-family: "Raleway", sans-serif; }
    #slider-inside-text p {
      display: none; } }

@media screen and (min-device-width: 1024px) {
  .slider {
    margin-top: -122px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 1240px;
    z-index: 10;
    float: left; } }

@media screen and (max-device-width: 480px) {
  .slider {
    height: 600px;
    width: 100%;
    margin-top: -70px;
    position: absolute;
    z-index: 10;
    display: block;
    /*

            .slides{
                overflow: hidden;
                height: 600px;
                width: 1024px;
                position: absolute;

                li{

                    div{
                        position: relative;
                        //display: inline-block;
                        top: 0;
                        left: 0;
                        width: 100%;
                        margin-left: 0;

                        img{
                            height: 600px;
                            width: auto;
                            top: 0;
                            float: left;
                        }
                    }
                }
            }
        }*/ }
    .slider img {
      width: auto;
      height: 600px;
      min-height: 600px; } }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; }

@media screen and (min-device-width: 1024px) {
  .tabs {
    width: 73.33%;
    float: right;
    background: #fff;
    position: relative;
    z-index: 20;
    top: -382.6px; }
    .tabs #row1 {
      background: #f23522;
      height: 194px;
      width: 31.1%;
      margin-bottom: 0px;
      float: none;
      display: flex;
      cursor: pointer; }
      .tabs #row1 #i-want-to {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        color: #fff;
        margin: auto auto;
        text-align: center;
        padding: 40px;
        font-size: 34px;
        line-height: 39px; }
    .tabs #row2 {
      background: #999ba1;
      height: 193px;
      width: 31.1%;
      margin-bottom: 0px;
      float: none;
      display: flex;
      cursor: pointer; }
      .tabs #row2 #apply-now {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        color: #fff;
        margin: 33px auto;
        text-align: center;
        padding: 40px;
        font-size: 34px;
        line-height: 39px; }
    .tabs #row3 {
      background: #bbbbbf;
      height: 192px;
      width: 31.1%;
      margin-bottom: 0px;
      float: none;
      display: flex;
      cursor: pointer; }
      .tabs #row3 #how-to {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        color: #fff;
        margin: auto 24px;
        padding: 40px;
        font-size: 34px;
        line-height: 39px; }
    .tabs #row4 {
      background: #cfcfd2;
      height: 192px;
      width: 31.1%;
      margin-bottom: 0px;
      float: none;
      display: flex;
      cursor: pointer; }
      .tabs #row4 #student-life {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        color: #fff;
        margin: auto auto;
        text-align: center;
        padding: 40px;
        font-size: 34px;
        line-height: 39px; }
    .tabs #right-tabs {
      display: inline-block;
      width: 68.9%;
      float: right;
      background: #fff;
      min-height: 760px; }
      .tabs #right-tabs #tabs-img {
        height: 413px;
        position: relative;
        overflow: hidden; }
        .tabs #right-tabs #tabs-img #filter {
          display: none;
          height: 100%;
          width: 100%;
          background-color: rgba(242, 53, 34, 0.5);
          z-index: 500; }
        .tabs #right-tabs #tabs-img img {
          width: 100%;
          height: auto;
          border: 0; }
      .tabs #right-tabs #tabs-img2 {
        display: none;
        height: 413px;
        position: relative;
        overflow: hidden; }
        .tabs #right-tabs #tabs-img2 #filter {
          display: none;
          height: 100%;
          width: 100%;
          background-color: rgba(242, 53, 34, 0.5);
          z-index: 500; }
        .tabs #right-tabs #tabs-img2 img {
          width: 100%;
          height: auto;
          border: 0; }
      .tabs #right-tabs #tabs-img3 {
        display: none;
        height: 413px;
        position: relative;
        overflow: hidden; }
        .tabs #right-tabs #tabs-img3 #filter {
          display: none;
          height: 100%;
          width: 100%;
          background-color: rgba(242, 53, 34, 0.5); }
        .tabs #right-tabs #tabs-img3 img {
          width: 100%;
          height: auto;
          border: 0; }
      .tabs #right-tabs #tabs-img4 {
        display: none;
        height: 413px;
        position: relative;
        overflow: hidden; }
        .tabs #right-tabs #tabs-img4 #filter {
          display: none;
          background-color: rgba(242, 53, 34, 0.5);
          z-index: 500; }
        .tabs #right-tabs #tabs-img4 img {
          width: 100%;
          height: auto;
          border: 0; }
      .tabs #right-tabs #bottom-right {
        display: inline-block;
        padding: 2px 35px;
        padding-bottom: 0px; }
      .tabs #right-tabs #bottom-right2 {
        display: none;
        padding: 2px 35px;
        padding-bottom: 0px; }
      .tabs #right-tabs #bottom-right3 {
        display: none;
        padding: 2px 35px;
        padding-bottom: 0px; }
      .tabs #right-tabs #bottom-right4 {
        display: none;
        padding: 2px 35px;
        padding-bottom: 0px; }
      .tabs #right-tabs div #left-column {
        width: 63.6%;
        float: left;
        margin-right: 0.8333333%;
        margin-left: 0.8333333%; }
        .tabs #right-tabs div #left-column #left-title {
          font-size: 35px;
          line-height: 39px;
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          color: #3a4d59; }
        .tabs #right-tabs div #left-column #left-column-content {
          columns: 2;
          list-style: none;
          padding-left: 3px;
          margin-top: 52px; }
          .tabs #right-tabs div #left-column #left-column-content li {
            padding-bottom: 21px; }
            .tabs #right-tabs div #left-column #left-column-content li a {
              font-size: 17px;
              line-height: 21.5px;
              color: #ff3333;
              font-family: "Raleway", sans-serif;
              font-weight: 600;
              text-decoration: none; }
          .tabs #right-tabs div #left-column #left-column-content li:hover a {
            text-decoration: underline; }
      .tabs #right-tabs div #right-column {
        margin-right: 0.8333333%;
        margin-left: 0.8333333%;
        width: 31%;
        float: right; }
        .tabs #right-tabs div #right-column #right-title {
          font-size: 35px;
          line-height: 39px;
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          color: #3a4d59; }
        .tabs #right-tabs div #right-column #right-text {
          letter-spacing: -0.2px;
          font-weight: 600;
          margin-top: 50px;
          font-family: "Raleway", sans-serif;
          color: black;
          padding-left: 0;
          font-size: 16px;
          line-height: 24px; } }

@media screen and (max-device-width: 480px) {
  #filter {
    display: none; }
  .tabs {
    width: 100%;
    top: 0;
    margin-bottom: 35px;
    margin-top: -89px; }
    .tabs #right-tabs {
      display: none; }
    .tabs #row1 {
      width: 100%;
      height: 90px;
      background: #f23522;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      color: white;
      margin-bottom: 0px;
      display: flex; }
      .tabs #row1 p {
        padding: 0;
        margin: auto auto;
        text-align: center;
        font-size: 1.6rem; }
    .tabs #row2 {
      width: 100%;
      height: 90px;
      background: #c0bfbf;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      color: white;
      margin-bottom: 0px;
      display: flex; }
      .tabs #row2 p {
        padding: 0;
        margin: auto auto;
        text-align: center;
        font-size: 1.6rem; }
    .tabs #row3 {
      width: 100%;
      height: 90px;
      background: #87888e;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      color: white;
      margin-bottom: 0px;
      display: flex; }
      .tabs #row3 p {
        padding: 0;
        margin: auto auto;
        text-align: center;
        font-size: 1.6rem; }
    .tabs #row4 {
      width: 100%;
      height: 90px;
      background: #c0bfbf;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      color: white;
      margin-bottom: 0px;
      display: flex; }
      .tabs #row4 p {
        padding: 0;
        margin: auto auto;
        text-align: center;
        font-size: 1.6rem; } }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; }

@media screen and (max-device-width: 480px) {
  .news {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 28px;
    margin-bottom: 0;
    padding: 0 20px; }
    .news #news-div-title {
      font-family: "Raleway", sans-serif;
      position: relative;
      display: block;
      color: #3a4d59; }
      .news #news-div-title h2 {
        margin: 29px 0 32px 11px;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 400; }
      .news #news-div-title p {
        right: 40px;
        color: black;
        text-align: right;
        top: -8px;
        font-size: 16px;
        float: right;
        position: absolute; }
    .news #spotlight {
      width: 90%;
      margin-left: 1%;
      margin-right: 1%;
      float: left; }
      .news #spotlight #spotlight-container {
        background: #87888e; }
        .news #spotlight #spotlight-container #spotlight-image img {
          width: 100%;
          height: auto; }
        .news #spotlight #spotlight-container #spotlight-text {
          max-width: 100%;
          padding: 20px 30px;
          font-family: "Raleway", sans-serif;
          color: white; }
          .news #spotlight #spotlight-container #spotlight-text #sp-title {
            font-size: 20px;
            margin-bottom: 0;
            line-height: 30px;
            text-transform: uppercase; }
            .news #spotlight #spotlight-container #spotlight-text #sp-title a {
              text-decoration: none;
              color: white; }
          .news #spotlight #spotlight-container #spotlight-text #sp-subtitle {
            display: none; }
          .news #spotlight #spotlight-container #spotlight-text #sp-body {
            width: 100%;
            font-size: 0.75rem;
            line-height: 1.25rem;
            margin-bottom: 0;
            letter-spacing: 0.7px; }
    .news #other-news {
      width: 100%;
      float: left;
      margin-top: 30px; }
      .news #other-news #news1 {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%; }
        .news #other-news #news1 img {
          max-width: 100%;
          height: auto; }
      .news #other-news #news2 {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%; }
        .news #other-news #news2 img {
          max-width: 100%;
          height: auto; } }

@media screen and (min-device-width: 1024px) {
  .news {
    width: 98.33333%;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-top: -115px;
    margin-bottom: 800px;
    padding: 0 20px;
    float: left; }
    .news #news-div-title {
      top: -240px;
      position: relative; }
      .news #news-div-title h2 {
        font-family: "Raleway", sans-serif;
        margin: 30px 0 22px 5px;
        font-size: 35px;
        line-height: 39px;
        color: #3a4d59;
        font-weight: 400; }
      .news #news-div-title p {
        font-family: "Raleway", sans-serif;
        margin-right: 81px;
        right: 0;
        text-align: right;
        top: -7px;
        position: absolute;
        float: right;
        width: 80px;
        font-size: 16.44px;
        color: black;
        font-weight: 400; }
    .news #news-content {
      float: left;
      margin-top: -230px; }
      .news #news-content #spotlight {
        width: 49.43%;
        height: 349px;
        float: left; }
        .news #news-content #spotlight #spotlight-container {
          height: 100%;
          width: 96.666666%;
          margin-left: 0.83333%;
          margin-right: 0.83333%;
          background: #87888e; }
          .news #news-content #spotlight #spotlight-container #spotlight-image {
            width: 49.3%;
            position: relative;
            overflow: hidden;
            float: left; }
            .news #news-content #spotlight #spotlight-container #spotlight-image img {
              display: block;
              height: auto;
              width: 100%;
              border: 0; }
            .news #news-content #spotlight #spotlight-container #spotlight-image img:hover {
              filter: grayscale(60%); }
          .news #news-content #spotlight #spotlight-container #spotlight-text {
            position: relative;
            width: 50%;
            font-family: "Raleway", sans-serif;
            padding: 25px 46px;
            margin-left: auto; }
            .news #news-content #spotlight #spotlight-container #spotlight-text #sp-title {
              margin-bottom: 40px;
              margin-left: 48px; }
              .news #news-content #spotlight #spotlight-container #spotlight-text #sp-title a {
                padding-top: 0.3em;
                padding-left: 0.8em;
                color: #fff;
                line-height: 24px;
                text-transform: uppercase;
                font-size: 24px;
                letter-spacing: -0.6px;
                font-weight: 400;
                text-decoration: none; }
            .news #news-content #spotlight #spotlight-container #spotlight-text #sp-title:hover a {
              text-decoration: underline; }
            .news #news-content #spotlight #spotlight-container #spotlight-text #sp-subtitle {
              margin-left: 66px;
              margin-top: 55px; }
              .news #news-content #spotlight #spotlight-container #spotlight-text #sp-subtitle a {
                color: #fff;
                font-weight: 200;
                font-size: 2.1875rem;
                line-height: 2.5rem;
                text-decoration: none; }
            .news #news-content #spotlight #spotlight-container #spotlight-text #sp-subtitle:hover a {
              text-decoration: underline; }
            .news #news-content #spotlight #spotlight-container #spotlight-text #sp-body {
              color: #fff;
              font-size: 15px;
              line-height: 26.67px;
              font-weight: 300;
              letter-spacing: 0.5px;
              margin-top: 18px;
              margin-left: 69px;
              margin-right: -10px; }
      .news #news-content #other-news {
        width: 50%;
        float: left;
        margin-left: 0px;
        position: relative; }
        .news #news-content #other-news #news1 {
          width: 47.3333%;
          float: left;
          margin-left: -0.1667%;
          margin-right: 0.8333%;
          position: relative; }
          .news #news-content #other-news #news1 img {
            width: 360px;
            height: auto; }
          .news #news-content #other-news #news1 p {
            color: white;
            font-size: 22px;
            line-height: 28px;
            font-family: "Raleway", sans-serif;
            margin-top: -75px;
            padding-left: 20px;
            font-weight: 600;
            letter-spacing: 0.1px; }
          .news #news-content #other-news #news1 img:hover {
            filter: grayscale(60%); }
        .news #news-content #other-news #news2 {
          width: 48.3333%;
          float: left;
          margin-left: 0.8333%;
          margin-right: 0.8333%;
          position: relative; }
          .news #news-content #other-news #news2 img {
            width: 360px;
            height: auto; }
          .news #news-content #other-news #news2 p {
            color: white;
            font-size: 22px;
            line-height: 28px;
            font-family: "Raleway", sans-serif;
            margin-top: -75px;
            padding-left: 20px;
            font-weight: 600;
            letter-spacing: 0.1px;
            margin-right: 70px; }
          .news #news-content #other-news #news2 img:hover {
            filter: grayscale(60%); } }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; }

@media screen and (max-device-width: 480px) {
  .upcoming {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0 20px 30px;
    float: left; }
    .upcoming #upcoming-div-title {
      font-family: "Raleway", sans-serif;
      position: relative;
      display: block;
      color: #3a4d59; }
      .upcoming #upcoming-div-title h2 {
        margin: 29px 0 32px 11px;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 400; }
      .upcoming #upcoming-div-title p {
        right: 0;
        margin-right: 32px;
        text-align: right;
        top: -8px;
        font-size: 16px;
        float: right;
        position: absolute; }
    .upcoming #upcoming-content {
      padding: 0 10px;
      margin: 0; }
      .upcoming #upcoming-content #upcoming-unit {
        margin-bottom: 33px;
        font-family: "Raleway", sans-serif; }
      .upcoming #upcoming-content #upcoming-unit2 {
        margin-bottom: 33px;
        font-family: "Raleway", sans-serif; }
      .upcoming #upcoming-content #upcoming-unit3 {
        margin-bottom: 33px;
        font-family: "Raleway", sans-serif; }
      .upcoming #upcoming-content div #up-date {
        width: 75px;
        display: inline-block;
        vertical-align: middle; }
        .upcoming #upcoming-content div #up-date #month {
          height: 20px;
          font-size: 16px;
          line-height: 1.2;
          width: 55px;
          font-weight: 400;
          background: #f23522;
          color: white;
          display: block;
          text-align: center; }
        .upcoming #upcoming-content div #up-date #day {
          font-family: sans-serif;
          text-align: center;
          width: 55px;
          font-size: 28px;
          height: auto;
          font-weight: 700;
          background: white;
          color: #363636;
          line-height: 1.3;
          display: block; }
      .upcoming #upcoming-content div #up-text {
        width: 60%;
        display: inline-block;
        vertical-align: middle;
        font-family: "Raleway", sans-serif; }
        .upcoming #upcoming-content div #up-text a {
          color: #363636;
          font-size: 18px;
          line-height: 1.4;
          text-decoration: none; } }

@media screen and (min-device-width: 1024px) {
  .upcoming {
    width: 98.33333%;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-top: -790px;
    margin-bottom: 0;
    padding: 0 20px;
    float: left; }
    .upcoming #upcoming-div-title {
      margin-top: 20px;
      position: relative;
      margin-bottom: 55px; }
      .upcoming #upcoming-div-title h2 {
        font-family: "Raleway", sans-serif;
        margin: 30px 0 22px 5px;
        font-size: 35px;
        line-height: 39px;
        color: #3a4d59;
        font-weight: 400; }
      .upcoming #upcoming-div-title p {
        font-family: "Raleway", sans-serif;
        margin-right: 81px;
        right: 0;
        text-align: right;
        top: 4px;
        position: absolute;
        float: right;
        width: 80px;
        font-size: 16.44px;
        color: black;
        font-weight: 400; }
    .upcoming #upcoming-content {
      width: 98.3%;
      float: left;
      margin-left: 2.6%;
      margin-right: 0.83%;
      padding: 0.5em; }
      .upcoming #upcoming-content #upcoming-unit {
        width: 30%;
        float: left;
        margin-left: 0.83%;
        margin-right: -100%;
        clear: both;
        margin-bottom: 33px;
        display: block; }
      .upcoming #upcoming-content #upcoming-unit2 {
        width: 30%;
        margin-left: 33.8%;
        margin-right: -100%;
        clear: none;
        margin-bottom: 33px;
        float: left; }
      .upcoming #upcoming-content #upcoming-unit3 {
        width: 30%;
        margin-left: 67.1%;
        margin-right: -100%;
        clear: none;
        margin-bottom: 33px;
        float: left; }
      .upcoming #upcoming-content div #up-date {
        width: 109px;
        display: inline-block;
        vertical-align: middle;
        text-align: center; }
        .upcoming #upcoming-content div #up-date #month {
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          font-size: 1.75rem;
          height: 33px;
          letter-spacing: 0.8px;
          background: #f23522;
          color: white;
          line-height: 1.3;
          width: 90px;
          display: block; }
        .upcoming #upcoming-content div #up-date #day {
          font-family: sans-serif;
          font-weight: 700;
          font-size: 2.8rem;
          height: 59px;
          background: white;
          letter-spacing: 0.4px;
          color: #363636;
          line-height: 1.3;
          display: block;
          width: 90px; }
      .upcoming #upcoming-content div #up-text {
        width: 66%;
        display: inline-block;
        margin-left: -5px;
        letter-spacing: 0.4px;
        vertical-align: middle; }
        .upcoming #upcoming-content div #up-text a {
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          width: 100%;
          margin-bottom: 0;
          color: #363636;
          line-height: 30.14px;
          font-size: 22px;
          text-decoration: none; }
      .upcoming #upcoming-content div #up-text:hover a {
        text-decoration: underline; } }

@media screen and (max-device-width: 480px) {
  .social {
    width: 100%;
    display: block; }
    .social #get-connected {
      margin-bottom: -5px; }
      .social #get-connected img {
        width: 100%;
        height: auto; }
    .social #twitter-block1 {
      display: none; }
    .social #twitter-block2 {
      display: none; }
    .social #twitter-block3 {
      display: none; }
    .social #insta-block1 {
      display: none; }
    .social #insta-block2 {
      display: none; }
    .social #insta-block3 {
      display: none; }
    .social #insta-block4 {
      display: none; } }

@media screen and (min-device-width: 1024px) {
  .social {
    float: left;
    margin-top: -503px; }
    .social #get-connected {
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 0; }
      .social #get-connected img {
        width: 100%;
        height: auto; }
    .social #insta-block1 {
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 0;
      position: relative; }
      .social #insta-block1 img {
        width: 100%;
        height: auto; }
    .social #insta-block2 {
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 0;
      position: relative; }
      .social #insta-block2 img {
        width: 100%;
        height: auto; }
    .social #insta-block3 {
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 0;
      position: relative; }
      .social #insta-block3 img {
        width: 100%;
        height: auto; }
    .social #insta-block4 {
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 0;
      position: relative; }
      .social #insta-block4 img {
        width: 100%;
        height: auto; }
    .social #twitter-block1 {
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 0;
      position: relative; }
      .social #twitter-block1 img {
        width: 100%;
        height: auto; }
    .social #twitter-block2 {
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 0;
      position: relative; }
      .social #twitter-block2 img {
        width: 100%;
        height: auto; }
    .social #twitter-block3 {
      width: 25%;
      float: left;
      overflow: hidden;
      margin: 0;
      position: relative; }
      .social #twitter-block3 img {
        width: 100%;
        height: auto; } }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; }

@media screen and (max-device-width: 480px) {
  .more-info {
    display: none; } }

@media screen and (min-device-width: 1024px) {
  .more-info #background-img {
    float: right;
    height: 735px;
    overflow: hidden; }
    .more-info #background-img img {
      max-width: 100%;
      height: auto;
      border: 0; }
  .more-info #info-container {
    position: relative;
    bottom: 280px; }
    .more-info #info-container #info-content {
      width: 87%;
      height: 852px;
      float: left;
      background: #f23522; }
      .more-info #info-container #info-content #right-info {
        width: 68.33%;
        float: right;
        padding-top: 0;
        background: white; }
        .more-info #info-container #info-content #right-info #video {
          position: relative; }
          .more-info #info-container #info-content #right-info #video img {
            width: auto;
            height: 33.099em;
            border: 0; }
        .more-info #info-container #info-content #right-info #right-info-title {
          margin-top: 40px;
          margin-bottom: 15px;
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          padding-left: 50px;
          font-size: 2.1rem;
          letter-spacing: 0.5px;
          line-height: 2.8rem;
          color: #444a5a; }
        .more-info #info-container #info-content #right-info #right-info-text {
          padding-left: 53px;
          height: 222px;
          margin-top: -6px;
          color: black;
          font-size: 18px;
          font-family: "Raleway", sans-serif;
          line-height: 30px;
          font-weight: 500;
          letter-spacing: -0.06697px; }
      .more-info #info-container #info-content #left-info {
        width: 31.6%;
        color: white;
        padding: 85px 40px;
        padding-right: 45px;
        font-family: "Raleway", sans-serif; }
        .more-info #info-container #info-content #left-info h2 {
          font-weight: 200;
          font-size: 2.2rem;
          letter-spacing: -0.5px;
          line-height: 2.8rem;
          margin-bottom: 1.4rem; }
        .more-info #info-container #info-content #left-info p {
          width: 82%;
          padding-left: 3px;
          font-size: 18px;
          font-family: "Raleway", sans-serif;
          font-weight: 1.1rem;
          line-height: 30px;
          font-weight: 500; }
  .brands {
    width: 100%;
    margin-top: -290px;
    float: left;
    height: 326px;
    background: #cfcfd2; }
    .brands ul {
      padding: 4.5em 19.8em; }
      .brands ul li {
        width: 31.66%;
        float: left;
        margin-left: 0.83%;
        margin-right: 0.83%;
        list-style: none; }
        .brands ul li img {
          height: 155px;
          width: auto; }
    .brands #miller {
      margin-left: initial; }
    .brands #schmidt {
      margin-left: 4em; }
      .brands #schmidt img {
        height: 138px; }
    .brands #foundation {
      margin-left: 9.46em;
      width: 10%; }
      .brands #foundation img {
        height: 134px; } }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; }

@media screen and (max-device-width: 480px) {
  footer {
    background-color: #323339;
    display: inline-block;
    width: 100%;
    margin-top: -5px; }
    footer .footer-mobile #footer-menu {
      margin-right: 8%;
      display: block; }
      footer .footer-mobile #footer-menu ul {
        list-style: none; }
        footer .footer-mobile #footer-menu ul li {
          width: 100%;
          margin-bottom: 1.2em; }
          footer .footer-mobile #footer-menu ul li p {
            background-color: #231f20;
            width: 100%;
            display: block;
            text-align: center;
            padding: 0.8em 0 0.5em 0;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 1.5em;
            color: white; }
    footer .footer-mobile #footer-m-logo {
      width: 186px;
      height: 114px;
      position: relative;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto; }
      footer .footer-mobile #footer-m-logo img {
        width: 100%;
        height: auto; }
    footer .footer-mobile #directions {
      margin-top: 10px;
      width: 92%;
      margin-left: 4%;
      margin-right: 4%; }
      footer .footer-mobile #directions p {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        text-align: center;
        margin-bottom: 0;
        color: white;
        font-size: 1.2em;
        letter-spacing: 1px;
        line-height: 25px; }
    footer .footer-mobile #foter-m-social img {
      width: 100%;
      height: auto; }
    footer .footer-left {
      display: none; }
    footer .footer-right {
      display: none; } }

@media screen and (min-device-width: 1024px) {
  footer {
    background-color: #323339;
    display: inline-block;
    width: 100%;
    height: 454px;
    position: relative;
    bottom: 0; } }
  @media screen and (min-device-width: 1024px) and (min-width: 1024px) {
    footer .footer-mobile {
      display: none; }
    footer .footer-left {
      width: 66.66%;
      padding-top: 0.45em;
      padding-left: 3.7em;
      margin-top: -10px;
      list-style: none;
      float: left; }
      footer .footer-left .footer-links {
        margin-top: 7%;
        padding-bottom: 30px;
        margin-left: 10%; }
        footer .footer-left .footer-links ul {
          list-style: none;
          margin-top: -0.2em; }
          footer .footer-left .footer-links ul #row3 {
            margin-left: -1em; }
          footer .footer-left .footer-links ul #row4 {
            margin-left: -2.35em; }
          footer .footer-left .footer-links ul li {
            margin-right: 1em;
            width: 24%;
            float: left;
            margin-left: 0.35%;
            margin-block-start: 2%; }
            footer .footer-left .footer-links ul li p {
              font-family: "Raleway", sans-serif;
              font-weight: 500;
              color: #f23522;
              margin-bottom: 10px;
              font-size: 12px; }
            footer .footer-left .footer-links ul li ul {
              list-style: none;
              margin-top: 1.2em; }
              footer .footer-left .footer-links ul li ul li {
                width: 100%;
                margin-bottom: 0.47em;
                margin-left: -2.5em; }
                footer .footer-left .footer-links ul li ul li a {
                  color: white;
                  font-family: "Raleway", sans-serif;
                  font-weight: 500;
                  letter-spacing: 0.5px;
                  font-size: 11px;
                  text-decoration: none; }
                footer .footer-left .footer-links ul li ul li a:hover {
                  text-decoration: underline; }
      footer .footer-left .footer-social {
        margin-left: 31.7%;
        float: left;
        margin-bottom: 1.5rem;
        margin-top: 5.8em; }
        footer .footer-left .footer-social img {
          max-width: 100%;
          height: auto; }
    footer .footer-right {
      width: 20%;
      float: right;
      margin-top: 83px;
      margin-right: 6%; }
      footer .footer-right img {
        margin-left: -4.67em;
        margin-top: -0.1em;
        max-width: 100%;
        height: auto; }
      footer .footer-right p {
        color: white;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        letter-spacing: -0.4px;
        line-height: 1.45rem;
        margin-left: -5.8em;
        margin-top: 3.3em; } }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway';
  src: url("../res/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600; }

@media screen and (min-device-width: 1024px) {
  .enroll {
    display: none; }
  .contact {
    margin-top: -5px;
    width: 80.6%;
    float: right;
    height: 126px;
    background: #87888e;
    padding: 50px 50px 75px; }
    .contact form {
      display: block;
      margin-top: 0em; }
      .contact form p {
        color: white;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        margin-bottom: 30px;
        letter-spacing: 0;
        font-size: 2.15rem;
        line-height: 2.5rem;
        margin-top: -0.12em; }
      .contact form #form_name {
        width: 13.2%;
        float: left;
        padding-left: 23px;
        padding-top: 2px;
        letter-spacing: 1px;
        margin: 0;
        margin-left: -7px;
        margin-top: -2px;
        font-size: 11px;
        margin-right: 8px;
        color: #999ba1;
        height: 55px;
        border-radius: 0;
        box-shadow: none;
        font-family: "Raleway", sans-serif;
        font-weight: 400; }
        .contact form #form_name ::placeholder {
          margin-left: 10px; }
      .contact form #form_phone {
        width: 12.78%;
        float: left;
        margin-left: -3px;
        margin-top: -3px;
        font-size: 11px;
        margin-right: 8px;
        color: #999ba1;
        height: 55px;
        padding-left: 27px;
        padding-top: 2px;
        letter-spacing: 1.2px;
        box-shadow: none;
        font-family: "Raleway", sans-serif;
        font-weight: 400; }
      .contact form #form_email {
        width: 20.7%;
        float: left;
        margin: 0;
        font-size: 11px;
        margin-right: 0.8%;
        color: #999ba1;
        height: 57px;
        margin-top: -3px;
        padding-left: 25px;
        letter-spacing: 1.23px;
        box-shadow: none;
        font-family: "Raleway", sans-serif;
        font-weight: 400; }
        .contact form #form_email ::placeholder {
          margin-left: 10px; }
      .contact form #submit {
        width: 12%;
        float: left;
        margin-right: 0.8%;
        font-size: 15px;
        color: white;
        background: #87888e;
        border: 2px solid white;
        height: 60px;
        margin-top: -2px;
        box-shadow: none;
        border-radius: 0px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        text-decoration: none; }
      .contact form div p {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: 1.9rem;
        line-height: 2.5rem;
        color: white; }
        .contact form div p strong {
          font-size: 2.3rem;
          padding-left: 0.25em; } }

@media screen and (max-device-width: 480px) {
  .enroll {
    display: inline-block;
    padding: 34px 0;
    background: #f23522;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 90px;
    z-index: 20;
    margin-top: 540px; }
    .enroll span {
      background: white;
      font-size: 16px;
      letter-spacing: 1px;
      padding: 10px 55px;
      color: #363636;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      line-height: 1.25rem;
      font-size: 16px; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }
