@import "variables";
@import "../node_modules/susy/sass/susy";

$susy: (
    columns: susy-repeat(14),
    gutter: 0,
    math: fluid,
    output: float
);

@media screen and (min-device-width: 1024px){
    .enroll{
        display: none;
    }

    .contact{
        margin-top: -5px;
        width: 80.6%;
        float: right;
        height: 126px;
        background: $racc-grey1;
        padding: 50px 50px 75px;

        form{
            display: block;
            margin-top: 0em;

            p{
                color: white;
                font-family: $racc-font;
                font-weight: 400;
                margin-bottom: 30px;
                letter-spacing: 0;
                font-size: 2.15rem;
                line-height: 2.5rem;
                margin-top: -0.12em;
            }

            #form_name{
                width: 13.2%;
                float: left;
                padding-left: 23px;
                padding-top: 2px;
                letter-spacing: 1px;
                margin: 0;
                margin-left: -7px;
                margin-top: -2px;
                font-size: 11px;
                margin-right: 8px;
                color: $racc-grey2;
                height: 55px;
                //padding: 1.5em;
                border-radius: 0;
                box-shadow: none;
                font-family: $racc-font;
                font-weight: 400;

                ::placeholder{
                    margin-left: 10px;
                }
            }

            #form_phone{
                width: 12.78%;
                float: left;
                margin-left: -3px;
                margin-top: -3px;
                font-size: 11px;
                margin-right: 8px;
                color: $racc-grey2;
                height: 55px;
                padding-left: 27px;
                padding-top: 2px;
                letter-spacing: 1.2px;
                box-shadow: none;
                font-family: $racc-font;
                font-weight: 400;
            }

            #form_email{
                width: 20.7%;
                float: left;
                margin: 0;
                font-size: 11px;
                margin-right: 0.8%;
                color: $racc-grey2;
                height: 57px;
                margin-top: -3px;
                padding-left: 25px;
                letter-spacing: 1.23px;
                box-shadow: none;
                font-family: $racc-font;
                font-weight: 400;

                ::placeholder{
                    margin-left: 10px;
                }
            }

            #submit{
                width: 12%;
                float: left;
                margin-right: 0.8%;
                font-size: 15px;
                color: white;
                background: $racc-grey1;
                border: 2px solid white;
                height: 60px;
                margin-top: -2px;
                box-shadow: none;
                border-radius: 0px;
                font-family: $racc-font;
                font-weight: 400;
                text-decoration: none;
            }

            div{
                p{
                    font-family: $racc-font;
                    font-weight: 400;
                    margin-top: 10px;
                    margin-left: 20px;
                    margin-bottom: 0;
                    font-size: 1.9rem;
                    line-height: 2.5rem;
                    color: white;

                    strong{
                        font-size: 2.3rem;
                        padding-left: 0.25em;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: 480px){

    .enroll{
        display: inline-block;
        padding: 34px 0;
        background: $racc-red;
        //text-align: center;
        width: 100%;
        position: relative;
        bottom: 90px;
        z-index: 20;
        margin-top: -17px;

        span{
            background: white;
            font-size: 17px;
            letter-spacing: 1px;
            padding: 10px 43px;
            color: $racc-light-black;
            margin-left: 83px;
            font-family: $racc-font;
            font-weight: 600;
            line-height: 1.25rem;
        }
    }

    .contact{
        margin-top: -30px;
        height: 190px;
        background: $racc-grey1;
        padding: 0;

        form{
            display: block;
            margin-left: 38px;

            p{
                color: white;
                font-family: $racc-font;
                font-weight: 600;
                margin-bottom: 16px;
                letter-spacing: 0;
                font-size: 25px;
                line-height: 28px;
                padding-top: 28px;
                letter-spacing: -0.8px;

            }

            #form_name{
                width: 39%;
                padding-left: 23px;
                padding-top: 2px;
                letter-spacing: 1px;
                margin: 0;
                margin-left: -8px;
                margin-top: -2px;
                font-size: 9px;
                margin-right: 4px;
                margin-bottom: 6px;
                color: $racc-grey2;
                height: 25px;
                //padding: 1.5em;
                border-radius: 0;
                box-shadow: none;
                font-family: $racc-font;
                font-weight: 400;

                ::placeholder{
                    margin-left: 10px;
                }
            }

            #form_phone{
                width: 37%;
                margin-left: -3px;
                margin-top: -3px;
                font-size: 9px;
                margin-right: 8px;
                color: $racc-grey2;
                height: 25px;
                padding-left: 27px;
                padding-top: 2px;
                letter-spacing: 1.2px;
                box-shadow: none;
                font-family: $racc-font;
                font-weight: 400;
            }

            #form_email{
                width: 38.5%;
                margin-left: -8px;
                font-size: 9px;
                color: $racc-grey2;
                height: 25px;
                //margin-top: -3px;
                padding-left: 25px;
                letter-spacing: 1.23px;
                box-shadow: none;
                font-family: $racc-font;
                font-weight: 400;

                ::placeholder{
                    margin-left: 10px;
                }
            }

            #submit{
                width: 46.5%;
                //margin-right: 0.8%;
                font-size: 13px;
                color: white;
                background: $racc-grey1;
                border: 2px solid white;
                height: 32px;
                margin-top: -2px;
                box-shadow: none;
                border-radius: 0px;
                font-family: $racc-font;
                font-weight: 400;
                text-decoration: none;
            }

            div{
                display: block;
                padding-left: 28px;

                p{
                    margin-top: -26px;
                    margin-left: -38px;
                    font-family: $racc-font;
                    font-weight: 400;
                    margin-bottom: 0;
                    font-size: 18px;
                    line-height: 2.5rem;
                    color: white;

                    strong{
                        font-size: 20px;
                        padding-left: 0.25em;
                    }
                }
            }
        }
    }
}