@import "variables";
@import "../node_modules/susy/sass/susy";

$susy: (
    columns: susy-repeat(14),
    gutter: 0,
    math: fluid,
    output: float
);

footer{
    background-color: $racc-footer-background;
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 0;

    @media (min-width: 1024px){

        .footer-mobile{
            display: none;
        }

        .footer-left{
            width: 70%;
            list-style: none;
            float: left;

            .footer-links{
                margin-top: 7%;
                padding-bottom: 30px;
                margin-left: 18%;

                ul{
                    list-style: none;

                    li{
                        width: 30%;
                        float: left;
                        margin-left: 2%;
                        margin-block-start: 2%;

                        p{
                            font-family: $racc-font;
                            font-weight: 500;
                            color: $racc-red;
                            margin-bottom: 10px;
                            font-size: 12px;
                        }

                        ul{
                            list-style: none;

                            li{
                                width: 100%;

                                p{
                                    color: white;
                                    font-family: $racc-font;
                                    font-weight: 500;
                                    margin-bottom: 10px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            .footer-social{
                margin-left: 32%;
                float: left;
                margin-bottom: 1.5rem;
                margin-top: 5em;

                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .footer-right{
            width: 20%;
            float: right;
            margin-top: 83px;
            margin-right: 6%;
            
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}