@import "variables";
@import "../node_modules/susy/sass/susy";

$susy: (
    columns: susy-repeat(14),
    gutter: 0,
    math: fluid,
    output: float
);

@media screen and (max-device-width: 480px){
    footer{
        background-color: $racc-footer-background;
        display: inline-block;
        width: 100%;
        margin-top: -5px;

        .footer-mobile{

            #footer-menu{
               //padding: 0 15px;
                //width: 92%;
                //margin-left: 4%;
                margin-right: 8%;
                display: block;

                ul{
                    list-style: none;

                    li{
                        width: 100%;
                        margin-bottom: 1.2em;

                        p{
                            background-color: #231f20;
                            width: 100%;
                            display: block;
                            text-align: center;
                            padding: 0.8em 0 0.5em 0;
                            font-family: $racc-font;
                            font-weight: 400;
                            font-size: 1.5em;
                            color: white;
                        }
                    }
                }
            }

            #footer-m-logo{
                width: 186px;
                height: 114px;
                position: relative;
                overflow: hidden;
                margin-left: auto;
                margin-right: auto;

                img{
                    width: 100%;
                    height: auto;
                }
            }

            #directions{
                margin-top: 10px;
                width: 92%;
                margin-left: 4%;
                margin-right: 4%;

                p{
                    font-family: $racc-font;
                    font-weight: 300;
                    text-align: center;
                    margin-bottom: 0;
                    color: white;
                    font-size: 1.2em;
                    letter-spacing: 1px;
                    line-height: 25px;
                }
            }

            #foter-m-social{

                img{
                    width: 100%;
                    height: auto;
                }
            }
        }

        .footer-left{
            display: none;
        }

        .footer-right{
            display: none;
        }
    }
}


@media screen and (min-device-width: 1024px){
    footer{
        background-color: $racc-footer-background;
        display: inline-block;
        width: 100%;
        height: 454px;
        position: relative;
        bottom: 0;

        @media (min-width: 1024px){

            .footer-mobile{
                display: none;
            }

            .footer-left{
                width: 66.66%;
                padding-top: 0.45em;
                padding-left:  3.7em;
                margin-top: -10px;
                list-style: none;
                float: left;

                .footer-links{
                    margin-top: 7%;
                    padding-bottom: 30px;
                    margin-left: 10%;

                    ul{
                        list-style: none;
                        margin-top: -0.2em;

                        #row3{
                            margin-left: -1em;
                        }

                        #row4{
                            margin-left: -2.35em;
                        }

                        li{
                            margin-right: 1em;
                            width: 24%;
                            float: left;
                            margin-left: 0.35%;
                            margin-block-start: 2%;

                            p{
                                font-family: $racc-font;
                                font-weight: 500;
                                color: $racc-red;
                                margin-bottom: 10px;
                                font-size: 12px;
                            }

                            ul{
                                list-style: none;
                                margin-top: 1.2em;

                                li{
                                    width: 100%;
                                    margin-bottom: 0.47em;
                                    margin-left: -2.5em;

                                    a{
                                        color: white;
                                        font-family: $racc-font;
                                        font-weight: 500;
                                        letter-spacing: 0.5px;
                                        font-size: 11px;
                                        text-decoration: none;
                                    }

                                    a:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }

                .footer-social{
                    margin-left: 31.7%;
                    float: left;
                    margin-bottom: 1.5rem;
                    margin-top: 5.8em;

                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .footer-right{
                width: 20%;
                float: right;
                margin-top: 83px;
                margin-right: 6%;
                
                img{
                    margin-left: -4.67em;
                    margin-top: -0.1em;
                    max-width: 100%;
                    height: auto;
                }

                p{
                    color: white;
                    font-family: $racc-font;
                    font-weight: 300;
                    font-size: 0.8rem;
                    letter-spacing: -0.4px;
                    line-height: 1.45rem;
                    margin-left: -5.8em;
                    margin-top: 3.3em;
                }
            }
        }
    }
}