@import "variables";
@import "../node_modules/susy/sass/susy";

$susy: (
    columns: susy-repeat(14),
    gutter: 0,
    math: fluid,
    output: float
);

@media screen and (min-device-width: 1024px){
    
    header{
    background: $nav-background;
    position: relative;
    z-index: 100;

        #block-main-menu-mobile{
            display: none;
        }

        nav{
            width: 72.6%;
            height: 46px;
            float: right;

            ul{
                display: inline-block;
                list-style-type: none;
                height: 100%;
                margin: 0;
                padding: 0;

                #myracc{
                    padding: 0.9em 2.7em;
                }

                #miller{
                    padding: 0.9em 1.1em;

                    a{
                        letter-spacing: 0.185em;
                    }
                }

                #row3{
                    padding: 0.9em 3.1em;
                }

                #row4{
                    padding: 0.9em 0.2em;
                }

                #row5{
                    padding: 0.9em 4.14em;
                }

                li{
                    padding: 0.9em 2.1em;
                    margin: 0px;
                    display: inline-block;

                    a{
                        font-family: $racc-font;
                        color: $racc-white;
                        font-size: 0.75em;
                        font-weight: 500;
                        letter-spacing: 0.2em;
                    }

                    i{
                        color: $racc-white;
                        margin-left: -4.4em;
                    }
                }
            }
        }
    }

    #logo{
        width: 27.4;
        height: 105px;
        display: inline-block;
        position: relative;
        float: left;
        #logo-image{
            img{
                display: block;
                height: 85px;
                width: auto;
                margin: 9px 50px;
            }
        }
    }

    #mainMenu{
        width: span(8 at 5);
        display: inline-block;
        height: 60px;
        position: relative;

        #main-menu-list{
            font-family: $racc-font;
            font-weight: 600;
            margin-bottom: 0;
            color: $font-black;

            li{
                a{padding: 1.5em 1.65em;
                height: 100%;
                color: $font-black;
                text-decoration: none;}

                display: inline-block;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 1px;

                ul{
                    display: none;
                    float: none;
                    width: 17em;
                    margin: 0;
                    margin-left: -3em;
                    margin-top: 25px;
                    z-index: 30;

                    li{
                        width: 100%;
                        background: white;
                        padding: 5px;
                        float: left;
                        position: relative;
                        z-index: 30;
                        font-family: $racc-font;
                        font-weight: 500;
                        font-size: 0.8em;
                        padding: 0.9em 2em;
                        letter-spacing: 2px;
                        line-height: 15px;
                    }

                    li:hover{
                        background: $racc-grey5;
                        font-weight: 600;
                    }
                }
            }

            #apply-menu{
                font-weight: 800;
                a{
                    padding: 1.5em 1.65em;
                    padding-right: 0;
                    height: 100%; 
                }
                display: inline-block;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 1px;
            }
        }
    }
}

@media screen and (max-device-width: 480px) {
    header{
    background: $nav-background;
    position: relative;
    z-index: 150;
    background: rgba(255, 255, 255, 0.5);

        #block-main-menu-mobile{
            float: right;
            width: 130px;
            height: 100%;
            padding-left: 0;
            background: rgba(255, 255, 255, 0.5);
            font-size: 30px;

                #menu-mobile-container{
                    padding-left: 24px;
                    margin: auto;

                    a{
                        display: inline-block;
                        font-weight: bold;
                        color: black;
                        padding: 16px;
                    }
                }
        }

        #mainMenu{
            display: none;
        }

        nav{
            width: span(14);
            height: 7px;
            position: relative;
            z-index: 20;

            ul{
                display: none;
            }
        }

        #logo{
            width: span(9);
            float: left;
            height: 65px;

            #logo-image{
                max-width: 100%;
                float: left;

                img{
                    display: block;
                    margin: 10px auto;
                    width: 150px;
                    height: auto;
                }
            }
        }
    }
}
