@import "../node_modules/susy/sass/susy";

$susy: (
    columns: susy-repeat(14),
    gutter: 0,
    math: fluid,
    output: float
);


@media screen and (min-device-width: 1024px){
    main{
        width: span(14);
    }

    #slider-inside-text{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 34.5em;
        margin-left: 11%;
        z-index: 20;

        .slide-title{
            text-decoration: none;
            font-size: 3em;
            font-weight: 100;
            text-transform: uppercase;
            width: 10em;
            letter-spacing: 1.5px;
            line-height: 1.2em;
            z-index: 20;
            margin-bottom: 25px;
            font-family: $racc-font;
            color: white;
        }

        .slide-title:hover{
             color: $racc-red;
         }

        p{
            color: white;
            font-family: $racc-font;
            width: 25em;
            font-size: 15px;
            line-height: 1.8;
            font-weight: 400;
            z-index: 20;
        }
    }
}

 @media screen and (max-device-width: 480px){
     #slider-inside-text{
         margin-left: 0;
         left: 8vw;
         margin-top: 24em;

         .slide-title{

                text-decoration: none;
                font-size: 2.5em;
                letter-spacing: 0;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.2;
                color: white;
                font-family: $racc-font;
         }
        
         p{
             display: none;
         }
     }
 }

.slider{
    @media screen and (min-device-width: 1024px){
        margin-top: -1130px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 1240px;
        z-index: 10;
        float: left;
    }

    @media screen and (max-device-width: 480px){
        height: 600px;
        width: 100%;
        margin-top: -70px;
        overflow: hidden;
        position: relative;
        z-index: 10;
        display: block;

        .flexsliders{

            .slides{
                overflow: hidden;
                height: 600px;
                width: 1024px;
                position: absolute;

                li{

                    #image-continer{
                        position: absolute;
                        display: inline-block;
                        top: 0;
                        left: 0;
                        width: 100%;
                        margin-left: 0;

                        img{
                            min-height: 600px;;
                            width: auto;
                            top: 0;
                        }
                    }
                }
            }
        }

        img{
            //max-width: 1vw;
            width: 100%;
            height: auto;
        }
    }
}