@import "../node_modules/susy/sass/susy";

$susy: (
    columns: susy-repeat(14),
    gutter: 0,
    math: fluid,
    output: float
);


@media screen and (min-device-width: 1024px){
    main{
        width: span(14);
    }

    .slider-container{
        width: 100%;
        //height: 1024px;
        //overflow-x: hidden;
    }

    #slider-inside-text{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 30em;
        margin-left: 11%;
        z-index: 20;

        .slide-title{
            text-decoration: none;
            font-size: 45px;
            font-weight: 100;
            text-transform: uppercase;
            width: 10em;
            letter-spacing: -0.5px;
            line-height: 48px;
            z-index: 20;
            margin-bottom: 25px;
            font-family: $racc-font;
            color: white;
        }

        .slide-title:hover{
             color: $racc-red;
         }

        p{
            color: white;
            font-family: $racc-font;
            width: 25em;
            font-size: 15px;
            line-height: 23px;
            font-weight: 400;
            z-index: 20;
            margin-left: -3px;
            margin-top: 29px;
        }
    }

    .flex-control-nav{
        text-align: initial;
        margin-left: 10em;
    }

    //ol{
    .flex-control-paging{
        //text-align: left;
        top: 680px;
        margin-left: 10em;
        z-index: 10;

        li{
            a{
                content: url(../res/img/NotActiveSlide.png);
                height: 2px;
                width: 52px;
                margin-left: 5px;
            }

            .flex-active{
                content: url(../res/img/ActiveSlide.png);
                height: 2px;
                width: 52px;
            }
        }
        
    }

    .flex-direction-nav{

        a{
            width: 60px;
            height: 60px;
        }

        .flex-nav-prev a{
            margin-top: -120px;
        }

        .flex-nav-prev a::before{
            content: url(../res/img/sliderback.png);
            padding-left: 10px;
        }

        .flex-nav-next a{
            margin-top: -120px;
        }

        .flex-nav-next a::before{
            content: url(../res/img/sliderforward.png);
            padding-right: 10px;
        }
    }
}

 @media screen and (max-device-width: 480px){
     #slider-inside-text{
         display: none;
         margin-left: 0;
         left: 8vw;
         margin-top: 24em;

         .slide-title{

                text-decoration: none;
                font-size: 2.5em;
                letter-spacing: 0;
                font-weight: 100;
                text-transform: uppercase;
                line-height: 1.2;
                color: white;
                font-family: $racc-font;
         }
        
         p{
             display: none;
         }
     }
 }

.slider{
    @media screen and (min-device-width: 1024px){
        margin-top: -122px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 1240px;
        z-index: 10;
        float: left;
    }

    @media screen and (max-device-width: 480px){
        height: 600px;
        width: 100%;
        margin-top: -70px;
        //overflow: hidden;
        position: absolute;
        z-index: 10;
        display: block;

    /*

            .slides{
                overflow: hidden;
                height: 600px;
                width: 1024px;
                position: absolute;

                li{

                    div{
                        position: relative;
                        //display: inline-block;
                        top: 0;
                        left: 0;
                        width: 100%;
                        margin-left: 0;

                        img{
                            height: 600px;
                            width: auto;
                            top: 0;
                            float: left;
                        }
                    }
                }
            }
        }*/

        img{
            //max-width: 1vw;
            width: auto;
            height: 600px;
            min-height: 600px
        }
    }
}