@import "../node_modules/susy/sass/susy";
@import "variables";

$susy: (
    columns: susy-repeat(15),
    gutter: 0,
    math: fluid,
    output: float
);

@media screen and (min-device-width: 1024px){
    .tabs{
        width: 73.33%;
        float: right;
        background: $racc-white;
        position: relative;
        z-index: 20;
        top: -382.6px;
        
        #row1{
            background: $racc-red;
            height: 194px;
            width: 31.1%;
            margin-bottom: 0px;
            float: none;
            display: flex;
            cursor: pointer;

            #i-want-to{
                font-family: $racc-font;
                font-weight: 300;
                color: $racc-white;
                margin: auto auto;
                text-align: center;
                padding: 40px;
                font-size: 34px;
                line-height: 39px;
            }
        }
        
        #row2{
            background: $racc-grey2;
            height: 193px;
            width: 31.1%;
            margin-bottom: 0px;
            float: none;
            display: flex;
            cursor: pointer;

            #apply-now{
                font-family: $racc-font;
                font-weight: 100;
                color: $racc-white;
                margin: 33px auto;
                text-align: center;
                padding: 40px;
                font-size: 34px;
                line-height: 39px;
            }
        }

        #row3{
            background: $racc-grey3;
            height: 192px;
            width: 31.1%;
            margin-bottom: 0px;
            float: none;
            display: flex;
            cursor: pointer;

            #how-to{
                font-family: $racc-font;
                font-weight: 300;
                color: $racc-white;
                margin: auto 24px;
                //text-align: center;
                padding: 40px;
                font-size: 34px;
                line-height: 39px;
            }
        }

        #row4{
            background: $racc-grey4;
            height: 192px;
            width: 31.1%;
            margin-bottom: 0px;
            float: none;
            display: flex;
            cursor: pointer;

            #student-life{
                font-family: $racc-font;
                font-weight: 300;
                color: $racc-white;
                margin: auto auto;
                text-align: center;
                padding: 40px;
                font-size: 34px;
                line-height: 39px;
            }
        }

        #right-tabs{
            display: inline-block;
            width: 68.9%;
            float: right;
            background: $racc-white;
            min-height: 760px;

            #tabs-img{
                height: 413px;
                position: relative;
                overflow: hidden;

                #filter{
                    display: none;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(242, 53, 34, 0.5);
                    z-index: 500;
                }

                img{
                    width: 100%;
                    height: auto;
                    border: 0;
                }
            }

            #tabs-img2{
                display: none;
                height: 413px;
                position: relative;
                overflow: hidden;

                #filter{
                    display: none;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(242, 53, 34, 0.5);
                    z-index: 500;
                }

                img{
                    width: 100%;
                    height: auto;
                    border: 0;
                }
            }

            #tabs-img3{
                display: none;
                height: 413px;
                position: relative;
                overflow: hidden;

                #filter{
                    display: none;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(242, 53, 34, 0.5);
                    //z-index: 500;
                }

                img{
                    width: 100%;
                    height: auto;
                    border: 0;
                }
            }

            #tabs-img4{
                display: none;
                height: 413px;
                position: relative;
                overflow: hidden;

                #filter{
                    display: none;
                    background-color: rgba(242, 53, 34, 0.5);
                    z-index: 500;
                }

                img{
                    width: 100%;
                    height: auto;
                    border: 0;
                }
            }

            #bottom-right{
                display: inline-block;
                padding: 2px 35px;
                padding-bottom: 0px;
            }

            #bottom-right2{
                display: none;
                padding: 2px 35px;
                padding-bottom: 0px;
            }

            #bottom-right3{
                display: none;
                padding: 2px 35px;
                padding-bottom: 0px;
            }

            #bottom-right4{
                display: none;
                padding: 2px 35px;
                padding-bottom: 0px;
            }

            div{
                #left-column{
                    width: 63.6%;
                    float: left;
                    margin-right: 0.8333333%;
                    margin-left: 0.8333333%;

                    #left-title{
                        font-size:  35px;
                        line-height: 39px;
                        font-family: $racc-font;
                        font-weight: 400;
                        color: $racc-title;
                    }

                    #left-column-content{
                        columns: 2;
                        list-style: none;
                        padding-left: 3px;
                        margin-top: 52px;

                        li{
                            padding-bottom: 21px;

                            a{
                                font-size: 17px;
                                line-height: 21.5px;
                                color: $racc-red-font;
                                font-family: $racc-font;
                                font-weight: 600;
                                text-decoration: none;
                            }                           
                        }

                        li:hover{
                            a{
                                text-decoration: underline;
                            }
                        }
                    }
                }

                #right-column{
                    margin-right: 0.8333333%;
                    margin-left: 0.8333333%;
                    width: 31%;
                    float: right;

                    #right-title{
                        font-size:  35px;
                        line-height: 39px;
                        font-family: $racc-font;
                        font-weight: 400;
                        color: $racc-title;
                    }

                    #right-text{
                        letter-spacing: -0.2px;
                        font-weight: 600;
                        margin-top: 50px;
                        font-family: $racc-font;
                        color: black;
                        padding-left: 0;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: 480px){

    #filter{display: none;}

    .tabs{
        width: 100%;
        top: 0;
        margin-bottom: 35px;
        margin-top: -89.5px;

        #right-tabs{
            display: none;
        }

        #row1{
            width: 100%;
            height: 82px;
            background: $racc-red;
            font-family: $racc-font;
            font-weight: 400;
            color: white;
            margin-bottom: 0px;
            display: flex;

            p{
                padding: 0 15px;
                margin: auto auto;
                text-align: center;
                font-size: 24px;
            }
        }

        #row2{
            width: 100%;
            height: 86px;
            background: $racc-grey5;
            font-family: $racc-font;
            font-weight: 400;
            color: white;
            margin-bottom: 0px;
            display: flex;

            p{
                padding: 0 15px;
                margin: auto auto;
                text-align: center;
                font-size: 24px;
            }
        }

        #row3{
            width: 100%;
            height: 86px;
            background: $racc-grey1;
            font-family: $racc-font;
            font-weight: 400;
            color: white;
            margin-bottom: 0px;
            display: flex;

            p{
                padding: 0 30px;
                margin: auto auto;
                text-align: center;
                font-size: 24px;
            }
        }

        #row4{
            width: 100%;
            height: 86px;
            background: $racc-grey5;
            font-family: $racc-font;
            font-weight: 400;
            color: white;
            margin-bottom: 0px;
            display: flex;

            p{
                padding: 0 15px;
                margin: auto auto;
                text-align: center;
                font-size: 24px;
            }
        }
    }
}