@import "variables";
@import "../node_modules/susy/sass/susy";

$susy: (
    columns: susy-repeat(18),
    gutter: 0.83333%,
    math: fluid,
    output: float
);

@media screen and (max-device-width: 480px){
    .upcoming{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 0 20px 30px;
        float: left;

        #upcoming-div-title{
            font-family: $racc-font;
            position: relative;
            display: block;
            color: $racc-title;

            h2{
                margin: 29px 0 32px 11px;
                font-size: 1.5rem;
                line-height: 1.8rem;
                font-weight: 400;
            }

            p{
                right: 0;
                margin-right: 32px;
                text-align: right;
                top: -8px;
                font-size: 16px;
                float: right;
                position: absolute;
            }
        }

        #upcoming-content{
            padding: 0 10px;
            margin: 0;

            #upcoming-unit{
                margin-bottom: 33px;
                font-family: $racc-font;
            }

            #upcoming-unit2{
                margin-bottom: 33px;
                font-family: $racc-font;
            }

            #upcoming-unit3{
                margin-bottom: 33px;
                font-family: $racc-font;
            }

            div{
                #up-date{
                    width: 75px;
                    display: inline-block;
                    vertical-align: middle;

                    #month{
                        height: 20px;
                        font-size: 16px;
                        line-height: 1.2;
                        width: 55px;
                        font-weight: 400;
                        background: $racc-red;
                        color: white;
                        display: block;
                        text-align: center;
                    }

                    #day{
                        font-family: sans-serif;
                        text-align: center;
                        width: 55px;
                        font-size: 28px;
                        height: auto;
                        font-weight: 700;
                        background: white;
                        color: $racc-light-black;
                        line-height: 1.3;
                        display: block;
                    }
                }

                #up-text{
                    width: 60%;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: $racc-font;

                    a{
                        color: $racc-light-black;
                        font-size: 18px;
                        line-height: 1.4;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-device-width: 1024px){
    .upcoming{
        width: 98.33333%;
        margin-left: 0.83333%;
        margin-right: 0.83333%;
        margin-top: -790px;
        margin-bottom: 0;
        padding: 0 20px;
        float: left;

        #upcoming-div-title{
            margin-top: 20px;
            position: relative;
            margin-bottom: 55px;

            h2{
                font-family: $racc-font;
                margin: 30px 0 22px 5px;
                font-size: 35px;
                line-height: 39px;
                color: $racc-title;
                font-weight: 400;
            }

            p{
                font-family: $racc-font;
                margin-right: 81px;
                right: 0;
                text-align: right;
                top: 4px;
                position: absolute;
                float: right;
                width: 80px;
                font-size: 16.44px;
                color: black;
                font-weight: 400;
            }
        }

        #upcoming-content{
            width: 98.3%;
            float: left;
            margin-left: 2.6%;
            margin-right: 0.83%;
            padding: 0.5em;

            #upcoming-unit{
                width: 30%;
                float: left;
                margin-left: 0.83%;
                margin-right: -100%;
                clear: both;
                margin-bottom: 33px;
                display: block;
            }

            #upcoming-unit2{
                width: 30%;
                margin-left: 33.8%;
                margin-right: -100%;
                clear: none;
                margin-bottom: 33px;
                float: left
            }

            #upcoming-unit3{
                width: 30%;
                margin-left: 67.1%;
                margin-right: -100%;
                clear: none;
                margin-bottom: 33px;
                float: left
            }

            div{
                #up-date{
                    width: 109px;
                    display: inline-block;
                    vertical-align: middle;
                    //margin-right: 22px;
                    text-align: center;

                    #month{
                        font-family: $racc-font;
                        font-weight: 600;
                        font-size: 1.75rem;
                        height: 33px;
                        letter-spacing: 0.8px;
                        background: $racc-red;
                        color: white;
                        line-height: 1.3;
                        width: 90px;
                        display: block;
                    }

                    #day{
                        font-family: sans-serif;
                        font-weight: 700;
                        font-size: 2.8rem;
                        height: 59px;
                        background: white;
                        letter-spacing: 0.4px;
                        color: $racc-light-black;
                        line-height: 1.3;
                        display: block;
                        width: 90px;
                    }
                }

                #up-text{
                    width: 66%;
                    display: inline-block;
                    margin-left: -5px;
                    letter-spacing: 0.4px;
                    vertical-align: middle;

                    a{
                        font-family: $racc-font;
                        font-weight: 600;
                        width: 100%;
                        margin-bottom: 0;
                        color: $racc-light-black;
                        line-height: 30.14px;
                        font-size: 22px;
                        text-decoration: none;
                    }
                }

                #up-text:hover{
                    a{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

