@import "header";
@import "slider";
@import "tabs";
@import "news";
@import "upcoming";
@import "social";
@import "info";
@import "footer";
@import "contact";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}